<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RoboTicket</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
<body>
    <input type="checkbox" class="menuTrigger" id="menuTrigger" />
    <label for="menuTrigger" class="menuTriggerLabel"></label>
    <header>
        <div class="container">
            <nav>
                <img class="logo" src="images/oldlogo.svg" />
                <ul>
                    <li><a href="#!" data-goto=".slide-2">who we are</a></li>
                    <li><a href="#!" data-goto=".slide-3">why roboticket</a></li>
                    <li><a href="#!" data-goto=".slide-4">clients</a></li>
                    <li><a href="#!" data-goto="footer">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <main>
        <section class="animate-in-screen"></section>
        <section class="slide slide-1">

            <div class="center-height container left-center" data-stellar-ratio="-0.8" >

                <h1 class="animate bounceInUp" data-wow-delay=".5s"><img class="logo" src="images/signature.svg" />The innovative <b>ticketing</b><br /> and <b>mass events management system.</b></h1>

            </div>


            <video class="fullscreen" autoplay loop  >
                <source src="images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="text-center counter">

                <div class="container">
                    <div id="clockdiv" class="animate bounceInUp" data-wow-delay=".5s">
                        <div>
                            <span class="days">521 021</span>
                            <div class="smalltext">Users registered</div>
                        </div>
                        <div>
                            <span class="hours">123 872 321</span>
                            <div class="smalltext">Tickets sold</div>
                        </div>
                        <div>
                            <span class="minutes">8</span>
                            <div class="smalltext">Clubs hosted</div>
                        </div>
                    </div>
                 
                </div>

            </div>

        </section>

        <section class="slide slide-2">
            <div class="container">
                <h2>Who we are</h2>
                <p>
                    Roboticket is a complex ticketing system for sports clubs and venues made with full understanding of club’s needs.  We are a software company, delivering ticketing and access control since 2009.
                </p>
                <h3>Roboticket is exclusive representative of FortressGB in Poland.</h3>
            </div>
        </section>
        <section id="#slide3" class="slide slide-3" data-stellar-offset-parent="true" data-stellar-vertical-offset="70">
            <div class="container animate bounceInDown" data-wow-duration="1s">
                <h2>The difference</h2>
                <p>We are flexible and we can adapt to your specific needs, we understand that ticketing is one of the main branch of sport clubs activities. Implementing new ideas is making us better and better every day, our knowledge we share with our clients.</p>

                <p><img src="images/aws.png" width="100" />We are hosted on Amazon Web Services with dedicated plans depending of club size and fans range. </p>

                <p>
                    <img src="images/mailchimp.png" width="100" />
                    <img src="images/intercom.gif" width="200" /> Our software is open for any third party integration that will help develop a better solution for our clients. Today’s integration already helps our client to improve communication with fans.
                    
                </p>
            </div>
            <div class="scene fullscreen " data-wowa-duration="2s" data-stellar-background-ratio="1.2" data-stellar-vertical-offset="800"></div>
            <div class="crowd fullscreen" data-wowa-duration="2s" data-stellar-background-ratio="1.4" data-stellar-vertical-offset="-900"></div>

        </section>
        <section class="slide slide-4" data-stellar-offset-parent="true" data-stellar-vertical-offset="270">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 animate bounceInDown clients" data-wow-duration=".5s">
                        <h2>Clients</h2>
                        <p>
                            Our goal is to establish a long relationship with club’s fans, today we host clubs and venues for whom we deliver a fully personalised interface made with new technologies and guided by newest trend.
                        </p>
                    </div>
                    <div class="col-md-12 logos animate bounceInUp" >

                        <img src="images/Clubs/FCKDK.svg" class="animate bounceInUp" data-stellar-aratio="1.2" data-wow-delay=".2s" />
                        <img src="images/Clubs/FCMDK.svg" class="animate bounceInUp" data-stellar-aratio="1.4" data-wow-delay=".3s" />
                        <img src="images/Clubs/Lech.svg" class="animate bounceInUp" data-stellar-aratio="1.1" data-wow-delay=".4s" />
                        <img src="images/Clubs/Lechia.svg" class="animate bounceInUp" data-stellar-aratio="1.11" data-wow-delay=".5s" />
                        <img src="images/Clubs/UL.svg" class="animate bounceInUp" data-stellar-aratio="1.32" data-wow-delay=".6s" />
                        <img src="images/Clubs/Sparta.svg" class="animate bounceInUp" data-stellar-aratio="1.05" data-wow-delay=".7s" />
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container animate bounceInUp">
                <h2>Contact details</h2>
                <p>
                    Please contact us if u are interested to get and offer <a href="mailto:bid@roboticket.com">bid@roboticket.com</a>
                    In case of any technical issues please use <a href="mailto:help@roboticket.com">help@roboticket.com</a>
                </p>
                <p>
                    Roboticket Sp. z o.o. is registered in Poznań, Poland under registration KRS no. 000589112
                </p>
            </div>

        </footer>
    </main>




    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/template/hammer.js"></script>
    <script src="/js/template/parallax.js"></script>
    <script src="/js/template/wow.js"></script>
    <script src="/js/template/scripts.js"></script>         


    {{{isAdminEditorJS user}}}
</body>
</html>
