<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RoboTicket</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
<body>
    <input type="checkbox" class="menuTrigger" id="menuTrigger" />
    <label for="menuTrigger" class="menuTriggerLabel"></label>
    <header>
        <div class="container">
            <nav>
                <img class="logo" src="images/oldlogo.svg" />
                <ul>
                    <li><a href="#!" data-goto=".slide-2">who we are</a></li>
                    <li><a href="#!" data-goto=".slide-3">why roboticket</a></li>
                    <li><a href="#!" data-goto=".slide-4">clients</a></li>
                    <li><a href="#!" data-goto="footer">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <main>
        <section class="slide slide-1">
            <!--<section class="animate-in-screen animate slideOutDown" data-wow-duration="1s" ><img class="logo" src="images/oldlogowhite.svg" /></section>-->

            <div class="center-height container left-center" data-stellar-ratio="0.5">

                <h1 class="animate bounceInUp" data-wow-delay=".2s"><!--<img class="logo" src="images/signature.svg" />-->Let us introduce you to a whole new world when it comes to <b>ticketing systems</b> for sport events.<span class="bouncer"></span></h1>

            </div>


            <video class="fullscreen" autoplay loop>
                <source src="images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

       

        </section>

        <section class="slide slide-2">
            <div class="container">
                <div class="row">
                    <div class="text-center animation-thingy col-md-4 ">
                        <img src="images/ticket.png" class='ticket-card animate fadeIn' data-wow-delay="1.5s" />
                        <div class="scanner">
                            <!--<div class="bottom-part"></div>-->
                            <div class="ticket-scanner">
                                <div class="top-part">
                                    <div class="laser laser-1"></div>
                                    <div class="laser-2 laser"></div>
                                    <div class="laser-3 laser"></div>
                                    <!--<div class="shadow"></div>-->
                                    <!--<div class="counter">
                                    <span class="title">
                                        tickets sold
                                    </span>
                                    <div class="digits">
                                    </div>
                                </div>
                                <span class="light"></span>-->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="animate fadeIn col-md-8 col-md-offset-4" data-wow-delay="1.5s">
                        <p>
                            Roboticket was built upon sport clubs specific needs paying special attention to
                            build long term relationship with their fans. We know that there is nothing better
                            than full stadium therefore give you a tool to accelerate.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-3">
            <div class="leader">
                <span class="before"></span>
                <ul>
                    <li><a href="#section-1" id="goto-1">The difference</a></li>
                    <li><a href="#section-2" id="goto-2">Key features</a></li>
                    <li><a href="#section-3" id="goto-3">Service integration</a></li>

                </ul>
                <span class="after"></span>

            </div>
            
            <section id="section-1">
                <div class="pin-container">
                    <div class="panel">
                        <div class="container">
                            <h2>The difference</h2>
                                <p>
                                Through understanding the importance of how a well working ticketing system is the key factor to the existence of any sports club we've created Roboticket.</p>
                                <p>
                                    The system was created by combining the experience of people working in events management with strong IT skills. Roboticket is a fully scalable web application so it does not require any installation on the client side. It's open architecture gives us the ability to adapt our product to every clients requirements.
                                </p>
                                </div>

                    </div>
                </div>
            </section>
            <section id="section-2">
                <div class="pin-container">
                    <div class="panel">
                        <div class="container">
                            <h2>Key features</h2>
                            <p>
                                Our software is open for any third party integration that will help develop a better solution for our clients. Today’s integration helps our client to improve communication with fans.
                            </p>
                            <div class="features-list">
                                <div class="item">
                                    <h3>
                                        Theming
                                    </h3>
                                    <div class="box">
                                        <p>
                                            As every fan we respect club colors. With that being said our system is capable of theme based personalization for the front and end point user.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <h3>
                                        Transparent user interface
                                    </h3>
                                    <div class="box">
                                        <p>
                                            Allow your fans to buy tickets with ease in just a few steps.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <h3>
                                        Venue seating plan
                                    </h3>
                                    <div class="box">
                                        <p>
                                            Real-time price and sector occupancy visualisation.
                                        </p>
                                    </div>

                                </div>
                                <div class="item">
                                    <h3>
                                        Multi-channel distribution
                                    </h3>
                                    <div class="box">
                                        <p>
                                            Desktop and mobile, we offer both a fully responsive desktop web application and a dedicated app for Android and iOS.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <h3>
                                        All ticket types
                                    </h3>
                                    <div class="box">
                                        <p>
                                            Flexible mechanism lets that you set up single and multi-tickets packages sales.
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <h3>
                                        Real time insight
                                    </h3>
                                    <div class="box">
                                        <p>
                                            Control your sales and system load with our built in reporting tools.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
                <section id="section-3">
                    <div class="pin-container">
                        <div class="panel">
                            <div class="container">
                                <h2>External service integration</h2>
                                <p>Our software is open for any third party integration that will help develop a better solution for our clients. Today’s integration helps our client to improve communication with fans.</p>
                                <div class="row">
                                    
                                    <div class="col-md-12" style="margin-bottom:30px;margin-top:30px;">
                                        <span class="logos">
                                            <img src="images/aws.png" width="100" />
                                        </span>

                                        <p>We are hosted on Amazon Web Services with dedicated plans depending of club size and fans range. </p>

                                    </div>
                                    <div class="col-md-12">
                                        <span class="logos">
                                            <img src="images/mailchimp.png" width="50" />
                                            <img src="images/intercom.gif" width="100" />
                                        </span>

                                        <p>
                                            Our software is open for any third party integration that will help develop a better solution for our clients. Today’s integration already helps our client to improve communication with fans.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
</section>


        </section>
        <section class="slide slide-4">
         
            
            <div id="slides">
                <ul class="slides-container">
                    <li data-clubsvg="FCKDK">
                        <img src="images/Clubs/BG/FCKDK.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/FCKDK.svg" /></span>-->

                            <h2>FC København</h2>
                            <span class="divide"></span>
                            <p>text</p>
                        </div>
                    </li>
                    <li data-clubsvg="FCMDK">
                        <img src="images/Clubs/BG/FCMDK.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/FCMDK.svg" /></span>-->

                            <h2>FC Midtjylland</h2>
                            <span class="divide"></span>

                            <p>text</p>
                        </div>
                    </li>
                    <li data-clubsvg="Lech">
                        <img src="images/Clubs/BG/Lech.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Lech.svg" /></span>-->

                            <h2>Lech Poznań</h2>
                            <span class="divide"></span>

                            <p>During the 3-year collaboration with KKS Lech Poznań S.A. we sold more than 1 000 000 tickets for the matches held
at inea Stadium in Poznan.</p>
                        </div>
                    </li>
                    <li data-clubsvg="Lechia">
                        <img src="images/Clubs/BG/Lechia.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Lechia.svg" /></span>-->

                            <h2>Lechia Gdańsk</h2>
                            <span class="divide"></span>

                            <p>text</p>
                        </div>
                    </li>
                    <li data-clubsvg="UL">
                        <img src="images/Clubs/BG/UL.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/UL.svg" /></span>-->

                            <h2>Unia Leszno</h2>
                            <span class="divide"></span>

                            <p>text</p>
                        </div>
                    </li>
                    <li data-clubsvg="Sparta">
                        <img src="images/Clubs/BG/Sparta.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Sparta.svg" /></span>-->
                            <h2>WTS Sparta</h2>
                            <span class="divide"></span>

                            <p>text</p>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
        
    </main>

    <footer>
        <div class="container animate bounceInUp">
            <h2>Contact details</h2>
            <div class="row">
                <p class="contact-info col-md-4 col-xs-12">
                    <img src="images/icons/phone-call.svg" class="svg-img" />Make a call if you want to know more about our product <br /><b>+48 696 50 60 65</b>
                </p>
                <p class="contact-info col-md-4 col-xs-12">
                    <img src="images/icons/letter.svg" class="svg-img" /> Please contact us if u are interested to get and offer <a href="mailto:bid@roboticket.com">bid@roboticket.com</a>
                    In case of any technical issues please use <a href="mailto:help@roboticket.com">help@roboticket.com</a>
                </p>
                <p class="contact-info col-md-4 col-xs-12">
                    <img src="images/icons/compass.svg" class="svg-img" />Roboticket Sp. z o.o. is registered in Poznań, Poland under registration KRS no. 000589112, Górecka 30, Poznań 60-201
                </p>

            </div>

        </div>

    </footer>


    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/template/hammer.js"></script>
    <script src="/js/template/parallax.js"></script>
    <script src="/js/template/TweenMax.min.js"></script>
    
    <script src="/js/template/ScrollMagic.min.js"></script>
    <script src="/js/template/animation.gsap.min.js"></script>
    <script src="/js/template/jquery.superslides.js"></script>
    <script src="/js/template/jquery.fullpage.js"></script>
    <script src="/js/template/debug.addIndicators.min.js"></script>
    <script src="/js/template/ScrollToPlugin.min.js"></script>
    <script src="/js/template/wow.js"></script>
    <script src="/js/template/scripts.js"></script>         


    {{{isAdminEditorJS user}}}
</body>
</html>
