<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>RoboTicket</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

	</head>
<body>
    <input type="checkbox" class="menuTrigger" id="menuTrigger" />
    <label for="menuTrigger" class="menuTriggerLabel"></label>
    <header>
        <div class="container">
            <nav>
                <img class="logo" src="images/oldlogo.svg" />
                <ul>
                    <li><a href="#!" data-goto=".slide-2">who we are</a></li>
                    <li><a href="#!" data-goto=".slide-3">why roboticket</a></li>
                    <li><a href="#!" data-goto=".slide-4">clients</a></li>
                    <li><a href="#!" data-goto="footer">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <main>
        <section class="slide slide-1">
            <!--<section class="animate-in-screen animate slideOutDown" data-wow-duration="1s" ><img class="logo" src="images/oldlogowhite.svg" /></section>-->

            <div class="center-height container left-center" data-stellar-ratio="0.5">

                <h1 class="animate bounceInUp" data-wow-delay=".2s">
                    <!--<img class="logo" src="images/signature.svg" />-->
                    Innovative <b>ticketing system</b> for sport clubs and gigs.<br />
                    <span class="bouncer"></span>
                </h1>

            </div>


            <video class="fullscreen" autoplay loop>
                <source src="images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

       

        </section>

        <section class="slide slide-2">
            <div class="container">
                <div class="row">
                    <div class="text-center animation-thingy col-md-4 ">
                        <img src="images/ticket.png" class='ticket-card animate fadeIn' data-wow-delay="1.5s" />
                        <div class="scanner">
                            <div class="ticket-scanner">
                                <div class="top-part">
                                    <div class="laser laser-1"></div>
                                    <div class="laser-2 laser"></div>
                                    <div class="laser-3 laser"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="animate fadeIn col-md-8 col-md-offset-4" data-wow-delay="1.5s">
                        <h2>Fans know everything about your club. It’s time to know better your fans.
</h2>
                        <p>
                            Roboticket was built upon specific sport clubs needs, allowing them to create long term relationships with their fans.
                            We believe that there is nothing more valuable for a club than the people who support it.
                            What we can offer you is the possibility of simplifying the way they attend your events.

                        </p>
                        <p>
                            Roboticket offers many useful tools that support sale process and bring a new standard to ticketing management.
                        </p>


                    </div>
                </div>
            </div>
        </section>
        <section class="slide slide-3">
            <div id="leader-container">
                <div class="container">
                    <div class="leader">
                        <div class="pin-container">
                            <span class="before"></span>
                            <ul>
                                <li><a href="#section-1" id="goto-1">The difference</a></li>
                                <li><a href="#section-2" id="goto-2">Key features</a></li>
                                <li><a href="#section-3" id="goto-3">Service integration</a></li>

                            </ul>
                        </div>
                        <span class="after"></span>
                    </div>
                </div>
            </div>
                <section id="section-1">
                    <div class="container">
                        <div class="pin-container">
                            <div class="panel">
                                <h2>What makes us different</h2>
                                <p>
                                    Through understanding the importance of how a well working ticketing system is the key factor to the existence of any sports club we've created Roboticket.




                                </p>
                                <p>
                                    The system was created by combining the experience of people working in events management with strong IT skills. Roboticket is a fully scalable web application so it does not require any installation on the client side. It's open architecture gives us the ability to adapt our product to every client's requirements.
                                </p>
                                <p>
                                    We are flexible and we can adapt to your specific needs, we understand that ticketing is one of the main branch of sport clubs activities. Implementing new ideas is making us better and better every day, our knowledge we share with our clients.
                                </p>


                            </div>
                        </div>
                    </div>
</section>
                <section id="section-2">
                    <div class="container">
                        <div class="pin-container">
                            <div class="panel">
                                <h2>Key features</h2>
                                <p>
                                    Roboticket offers many useful tools that support sale process and bring a new standard to ticketing management. 
                                </p>
                                <div class="features-list">
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/icons/layout.svg' />
                                        </div>
                                        <h3>
                                            Accelerate sales
                                        </h3>
                                        <p>
                                            There is nothing better than to see a sold out stadium. Roboticket multichannel distribution is designed for demanding customers.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/icons/layout.svg' />
                                        </div>
                                        <h3>
                                            Customised layout for every club
                                        </h3>
                                        <p>
                                            As every fan we do respect club’s colors and emblems. Our web shop is customised and branded according to the club CI.                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Transparent user interface
                                        </h3>
                                        <p>
                                            Ticket purchase in just few steps. Your fans will like the way how they can buy tickets and season tickets.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Visualisation venue seating plan
                                        </h3>
                                        <p>
                                            Real-time price and seats occupancy visualisation lets to find free seats easy.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Multi-channel distribution
                                        </h3>
                                        <p>
                                            Internet and mobile is matter of time but we still don’t forget about ticket office or partners distribution points. Creating an additional sales point is as easy as creating a new user with specific rights.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Flexible sale mechanisms
                                        </h3>
                                        <p>
                                            Flexible mechanism lets to set up single and multi-tickets packages sale, handle close sale or target sale. There is no sales model that we couldn't handle.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Generate all tickets type
                                        </h3>
                                        <p>
                                            Depending of the venue and used access control system we can produce all kind of tickets: printed on thermal paper, print@home, contactless card or mobile NFC.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Operate from Amazon cloud
                                        </h3>
                                        <p>
                                            Roboticket is full web application accessible everywhere. We are hosted on Amazon Web Services with dedicated plans depending of club size.
                                        </p>
                                    </div>
                                    <div class="item">

                                        <div class="box">
                                            <img src='images/test.jpg' />

                                        </div>
                                        <h3>
                                            Sale support
                                        </h3>
                                        <p>
                                            We have many functionalities that support sale process. The most common used are vouchers, membership discounts, closed links and automatic renewals.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
</section>
                <section id="section-3">
                    <div class="container">
                        <div class="pin-container">
                            <div class="panel">
                                <h2>External service integration</h2>
                                <p>
                                    We are flexible and we can adapt to your specific needs, we understand that ticketing is one of the main branch of sport clubs activities. Implementing new ideas is making us better and better every day, our knowledge we share with our clients.
                                </p>
                                <p>
                                    Our software is open for any third party integration that will help develop a better solution for clus. Today’s integration helps our client to improve communication with fans and track fans activities. Among others we are integrated with MailChimp and Intercom.
                                </p>
                                

                            </div>

                        </div>
                        </div>
</section>

        </section>
        <section class="slide slide-4">
         
            <p>Our goal is to establish a long relationship with club’s fans, today we host clubs and venues for which we deliver a fully personalised interface created using new technologies and guided by newest trend.

Currently we have more than 250 000 seat on sale for 9 clubs in Europe including football, speedway and basketball. We are ready for more.</p>
            <div id="slides">
                <ul class="slides-container">
                    <li data-clubsvg="FCKDK">
                        <img src="images/Clubs/BG/FCKDK.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/FCKDK.svg" /></span>-->

                            <h2>FC København</h2>
                            <span class="divide"></span>
                            <p>Najbardziej utytułowany klub w Danii, zdobywca podwójnej korony w 2016 roku wybrał Roboticket. Od 2015 roku świadczymy usługi na wyłącznośc dla ich 38 tysięcznego stadionu.
</p>
                        </div>
                    </li>
                    <li data-clubsvg="FCMDK">
                        <img src="images/Clubs/BG/FCMDK.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/FCMDK.svg" /></span>-->

                            <h2>FC Midtjylland</h2>
                            <span class="divide"></span>

                            <p>Klub grający świetne zawody w Lidze Europy w 2016 roku, ich 12 tysięczny stadion często bwypełniony był po brzegi.
 </p>
                        </div>
                    </li>
                    <li data-clubsvg="Lech">
                        <img src="images/Clubs/BG/Lech.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Lech.svg" /></span>-->

                            <h2>Lech Poznań</h2>
                            <span class="divide"></span>

                            <p>Zaliczający się do scisłej czołówki organizacyjnej w Polsce Lech Poznań jest naszym najstarszym klinetem. Od 2009 jesteśmy wyłącznym dostawcą ticketing dla ich 44 tysiecznego stadionu.
</p>
                        </div>
                    </li>
                    <li data-clubsvg="Lechia">
                        <img src="images/Clubs/BG/Lechia.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Lechia.svg" /></span>-->

                            <h2>Lechia Gdańsk</h2>
                            <span class="divide"></span>

                            <p>Jedna z najładniejszych aren w Polsce - Stadion Energa Arena o pojemności 43 tysęcy widzów jest naszym klientem od 2011 roku.
</p>
                        </div>
                    </li>
                    <li data-clubsvg="UL">
                        <img src="images/Clubs/BG/UL.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/UL.svg" /></span>-->

                            <h2>Unia Leszno</h2>
                            <span class="divide"></span>

                            <p>Mistrz Polski Speedway  w 2015 roku korzysta z naszego rozwiązania od 2014 roku.
</p>
                        </div>
                    </li>
                    <li data-clubsvg="Sparta">
                        <img src="images/Clubs/BG/Sparta.jpg" alt="">
                        <div class="container">
                            <!--<span><img class="exclude" src="images/Clubs/Sparta.svg" /></span>-->
                            <h2>WTS Sparta</h2>
                            <span class="divide"></span>

                            <p>Najnowszy kontrakt z rodziny klubów żużlowych, sezon 2016 jest pierwszym naszej współpracy.
</p>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
        
    </main>

    <footer>
        <div class="container">
            <h2>Contact details</h2>
            <div class="row">
                <p class="contact-info col-md-4 col-xs-12 animate bounceInUp">
                    <img src="images/icons/phone-call.svg" class="svg-img" />Make a call if you want to know more about our product <br /><b>+48 696 50 60 65</b>
                </p>
                <p class="contact-info col-md-4 col-xs-12 animate bounceInUp">
                    <img src="images/icons/letter.svg" class="svg-img" /> Please contact us if u are interested to get and offer <a href="mailto:bid@roboticket.com">bid@roboticket.com</a>
                    In case of any technical issues please use <a href="mailto:help@roboticket.com">help@roboticket.com</a>
                </p>
                <p class="contact-info col-md-4 col-xs-12 animate bounceInUp">
                    <img src="images/icons/compass.svg" class="svg-img" />Roboticket Sp. z o.o. is registered in Poznań, Poland under registration KRS no. 000589112, Górecka 30, Poznań 60-201
                </p>

            </div>

        </div>

    </footer>


    <script src="/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/js/template/hammer.js"></script>
    <script src="/js/template/parallax.js"></script>
    <script src="/js/template/TweenMax.min.js"></script>
    
    <script src="/js/template/ScrollMagic.min.js"></script>
    <script src="/js/template/animation.gsap.min.js"></script>
    <script src="/js/template/jquery.superslides.js"></script>
    <script src="/js/template/jquery.fullpage.js"></script>
    <script src="/js/template/debug.addIndicators.min.js"></script>
    <script src="/js/template/ScrollToPlugin.min.js"></script>
    <script src="/js/template/wow.js"></script>
    <script src="/js/template/scripts.js"></script>         


    {{{isAdminEditorJS user}}}
</body>
</html>
