body, html {
       background-color:#fff;
        font-family: "Roboto", sans-serif;
       margin:0px;
       padding:0px;
       
}


header { 
		position:fixed;
		width:100%;
		z-index:1000;
	nav {
		width:100%;
		img.logo {
			width:15%;
			min-width:150px;
			max-width:250px;
			z-index:2;
			left:40px;
			top:40px;
			position:absolute;

		}

		ul {
			display:block;
			float:right;
			list-style:none;
			margin:0;
			padding:0;
		}
	}
}
 
footer {
	color: #777777;
	height:200px;
	background:#333;
	z-index:20;
	position:relative;
}
  
main{  
    position:relative;
    width:100%;
    min-height:100%;
    height:auto;
    overflow-x:hidden;

    section {
        position:relative;
    }
    /*@keyframes animate-screen {
    	from {height: 100%;}
    	to {height: 0;}
	}
    section.animate-in-screen {
		position:fixed;
		width:100%;
		background-color:$primary-color;
		z-index:200;
		animation-name:animate-screen;
		animation-duration: 0.5s;
    }*/ 
    section.slide { 
         
    	 
    }
    .slide.slide-1 {  
		width:100%;
		min-height:calc(100vh - 100px); 

		.video-overlay {
			background: repeating-linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 1px, rgba(255,255,255,0.2) 5px, rgba(255,255,255,0.2) 6px);
			z-index:1;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;

		}
		video.fullscreen {  
			position: fixed;  
			top: 50%; 
			left: 50%;
			min-width: 100%; 
			min-height: 100%;
			width: auto;
			height: auto;   
			transform: translate(-50%, -50%);
		}

		.center-height {
			z-index:2;
			position:relative;
            top:35vh;
		
			h1 {
				font-weight:300;
				color:#fff;
			}
		}

    }
    .slide.slide-2 {
        min-height:100px;
        background-color:#fff;
    	
		.counter {
			color:$primary-color;
			font-size:2rem;
			line-height:100px;
		}

    }
    .slide.slide-3 {
        min-height:700px;
    	background-color: #fff;
    	background: url(../images/2.png);
    	background-attachment:fixed;
    	background-size:cover;
    }
    .slide.slide-4 {
        background-color:$primary-color;
    	min-height:300px;
    }

}
