body, html {
		font-family: "Roboto", sans-serif;
		margin:0px;
        padding:0px;
     	font-size:16px;
     	background:#fff;
}
 
.no-padding   {
	 padding:0 !important; 
 }

header { 
		position:absolute;
		width:100%;
		z-index:1000;
		//background-color:rgba(0,0,0,0.4);
		transition:.3s;
		top:0;
		height:70px;
		//border-bottom:1px solid rgba(0,0,0,0.6);
		
		
		.container {

			height:100%;
			nav {
				height:100%;
				line-height:100%;
				width:100%;
				padding:0px 0px;

			img.logo {
				float:left;
				height:35px;
				margin:22px 0px;
				cursor:pointer;
			}

			ul {
				display:block;
				float:right;
				list-style:none;
				margin:0;
				padding:0;
				height: 100%;

				li {
					display:inline-block;
					height: 100%;
					text-align:center;
					padding: 0;
					margin: 0;
					a {
						color:#fff;
						font-weight:300;
						transition:.2s;
						text-decoration:none;
						line-height: 70px;
						padding: 0 25px;
						letter-spacing:0px;
						font-size:1rem;

						&.active {
							font-weight:bold;
							color:#fff;
							text-decoration:none;
							margin: 0; 
							padding: 0 !important; 
							letter-spacing:1px;

						}
					}
				}
			}
		}

	}
		
}	
 
footer {
	color: #fff;
	background:$primary-color;
	z-index:10;
	position:relative;
	padding:100px 0px;
	font-size:0.8rem;
	a{
		color:#fff;
		font-weight:bold;
		text-decoration:none;
		&:hover {
			text-decoration:none;
			color:#fff;
		}
	}
}
	
main{  
    position:relative;
    width:100%;
    min-height:100%;
    height:auto;
    overflow-x:hidden;
	
    section {
        position:relative;
    }
    @keyframes animate-screen {
    	from {top: 0;}
    	to {top: 100%;}
	}
    section.animate-in-screen {
		position:absolute;
		width:100%;
		height:100%;
		background-color:$primary-color;
		bottom:0;
		top:0;
		z-index:200;
		animation:animate-screen forwards;
		animation-duration: 0.5s;
		animation-delay:0.5s;
		z-index:2001;
    } 
    section.slide, footer {  
    	float:left;
    	width:100%;
         overflow:hidden;
    	 position:relative;

         h2 {
             font-weight:300;
			margin-bottom:40px;
         }
    } 
    .slide.slide-1 {  
		width:100%;
		min-height:calc(100vh - 200px); 
		overflow:hidden;
		video.fullscreen {  
			position: fixed;  
			top: 50%; 
			left: 50%;
			min-width: 100%; 
			min-height: 100%;
			width: auto;
			height: auto;   
			transform: translate(-50%, -50%);
			z-index:1;
		}

		.center-height {
			z-index:2;
			position:relative;
            top:35vh;
			h1 {
				font-weight:100;
				font-size:3rem;
				line-height:4rem;
				color:#fff;
				text-shadow: 2px 2px 1px rgba(0,0,0,0.2);

				b {
					font-weight:normal;
				}
				img.logo {
					height:auto;
					width:15%;
					min-width:150px;
					float:left;
					max-width:200px;
					display:inline-block;
					padding-top:20px;
					padding-bottom:30px;
					padding-right:40px;
					margin-bottom:0px;
				}
			}
		}
		

    }
    .slide.slide-2 {
        background-color:$primary-color;
    	padding:150px 0px 300px 0px;
		z-index:5;
		.animation-thingy {
			min-height:100px;
			z-index:2; 
			position:absolute;
    		width:100%;  
    		bottom:0;

			.ticket-card, .ticket-scanner {
			}
			.bottom-part {
				width:300px;
				height:100px;
				background:#333;
				padding:25px 20px;
				display:inline-block;
				bottom:25px;
				z-index:1;
				position:absolute;
				margin-left:-250px;
				border-top-left-radius:5px;
				border-top-right-radius:5px;
			}
			.ticket-scanner {
				width:300px;
				height:100px;
				background:#555;
				padding:25px 20px;
				display:inline-block;
				bottom:0px;
				position:absolute;
				margin-left:-250px;
				z-index:3;
				div.laser-1 {
					height:1px;
					top:-20px;

				}
				div.laser-2 {
					height:2px;
					top:-15px;
				}
				div.laser-3 {
					height:10px;
					top:-10px;

				}
				div.laser {
					position:absolute;					
					background:rgba(255,0,0,0.5);
					left:65px;
					right:65px;

					-webkit-animation-name: pulsate;
					-webkit-animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: infinite
				}
				@-webkit-keyframes pulsate {
					0% { background:rgba(255,0,0,0.4); }
					10% { background:rgba(255,0,0,0.5); }
					20% { background:rgba(255,0,0,0.4); }
					30% { background:rgba(255,0,0,0.6); }
					40% { background:rgba(255,0,0,0.6); } 
					50% { background:rgba(255,0,0,0.4);}
					60% { background:rgba(255,0,0,0.6);}
					70% { background:rgba(255,0,0,0.5);}
					80% { background:rgba(255,0,0,0.5);}
					90% { background:rgba(255,0,0,0.4);}
					100% { background:rgba(255,0,0,0.5);}
				 }
				div.shadow {
					height:5px;
					position:absolute;
					top:-5px;
					background:rgba(0,0,0,0.2);
					left:0px;
					right:0px;
				}
				div.counter {
					position:absolute;
					display:block;
					width:260px;
					background:#94b3b2;
					height:50px;
					border-radius:5px;
					.title {
						font-weight:100;
						color:#ddd;
						position:absolute;
						top:-15px;
						font-size:12px;
						left:0px;
					}
					.digits {
						color:#333;
						position:relative;
						display:block;
						font-size:40px;
						line-height:50px;
						width:100%;
						letter-spacing:2px;
						font-family:"Digit", "Roboto"

					}
				}
				span.light {
					position:absolute;
					top:-25px;
					right:0px;
					width:35px;
					height:35px;
					border:10px solid #555;
					border-radius:2px;
					background:red;
					transition:.3s;
				}
			}
			.ticket-card {
				width:200px;
				z-index:2;
				box-shadow:2px 0px 3px rgba(0,0,0,0.2);
				height:350px;
				border-radius:3px;
				background:#fff;
				background-image: url(../images/barcode.gif);
				background-repeat:no-repeat;
				background-position:center 90%;
				background-size:150px;
				display:inline-block;
				bottom:-100px;
				@media (max-width: 1000px) {
					bottom:-190px;
				}
				padding:15px;
				text-align:left;
				h2 {
					color:$primary-color;
					font-size:0.9rem;
					line-height:1rem
				}
				img {
					width:100%;
					padding:0px 140px 10px 0px;

					float:left;

				}
			}

                        
			.container {
				color:#fff;
				font-size:1rem;

			}

		}
		.container {
			
			color:#fff;
			font-size:1rem;

			h2{
				color:#fff;			
			}
		}

    }
    .slide.slide-3 {
        padding:80px 0px;
 

		background: #fff;
    	
   		z-index:6;
   		.fullscreen {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
   			background-repeat:no-repeat!important;
			
			width:100%;
			height:100%; 
   		}
   		.container {
   			position:relative;
   			z-index:7;
   			.logos {
   				margin-right:20px;
   				padding-right:20px;
   				border-right: 1px solid #ddd;
   				float:left;
   				width:200px;
   				img {
   					float:left; 
   				}
   			}
   			

   		}

    }
    .slide.slide-4 {
        width: 100%;
        color:#fff;
        margin-top:-1px;
		min-height: calc(100vh - 70px);
		overflow: hidden;
		z-index:8;
		padding:100px 0px;
        background-size:cover!important;
        background-attachment:fixed!important;
   		background: url(../images/Clubs/BG/Lech.jpg);
   		.clients {
			padding:50px 0px 110px 0px;
   		}
		.logos {
			text-align:center;
			padding:40px 0px;
			position:absolute;
			bottom:0px;
			left:0;
			right:0;
			background:#fff;
			img {
				max-width: 100px;
				height: auto;
				max-height: 90px;
				width: auto;
				margin: 5px;
				transition:.2s;
				&:hover {
					transform:scale(1.1);
				}
			}
		}
    }

}


@media (min-width:1001px), (min-height: 701px) {
	.menuTrigger,	.menuTriggerLabel {
		  display:none;
	}
	
	header {
			&.menuOnTop {
			box-shadow:0px 0px 4px rgba(0,0,0,0.2);
			background:#fff;
			position:fixed;
			top:0;
			border:none;
			.container {
				nav {
					img.logo {
						display:inline-block;
						height:24px;
					}
					ul {
						
						li a {
							color:$primary-color;
							font-size:1rem;
							&:hover {

								color:$primary-color
							}
						}

					}
					
				}

			}
			
		}

	}
}


@media (max-width: 1000px), (max-height: 700px) {

	body, html {
		font-size:14px;
	  	//overflow-x: hidden;
		width:100%;
		height:100%;
	}
  	input.menuTrigger {
		display:none;
	}
	.menuTrigger + .menuTriggerLabel, main, header {
	  transition: left 0.2s;
	}

	.menuTrigger:checked + .menuTriggerLabel  {
	  left: 215px;
	}


	header { 
		position:fixed;
		left:-200px;
		bottom:0;
		z-index:2000;
		top:0;
		width:200px;
		height:100%;
		background:#fff;
		box-shadow:1px 2px 2px rgba(0,0,0,0.2);

		.container {
			width:100%;
			nav {
				img.logo {
					display:inline-block;
					height:24px;
				}
				ul {
					float:left;
					width:100%;
					li{
						text-align:left;
						width:100%;
						display:block;
						height:auto;
						float:left;
						a{
							color:$primary-color;
							font-weight:300;
							transition:.3s;
							text-decoration:none;
							line-height: 30px;
							padding: 0px;
							display:block;
							width:100%;
							padding:10px 0px;
							letter-spacing:0px;
							font-size:1rem;
						}
					}
				}
			}
		}
		.menuTrigger:checked ~ & {
			left:0px;
		}
	}

   
	.menuTriggerLabel {
		  /* critical styles - hide the checkbox input */
	      position: fixed;
	      top:20px;
	      left:20px;
	      z-index:2001;
          height: 30px;
          width: 30px;
          cursor: pointer;
          background-image: url("data:image/svg+xml;utf8,
          <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' xml:space='preserve'>
 			 <rect fill='#ddd' width='30' height='6'/>
 			 <rect fill='#ddd' y='24' width='30' height='6'/>
 			 <rect fill='#ddd' y='12' width='30' height='6'/>
		 </svg>");
          background-size: contain;
	}
   
  

	main {
	
		min-width: 100%;
		min-height: 100%;
		background-color: #fff;
		position: relative;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: 2;

		 &:before {
					
                	content: "";
	                background: rgba(0,0,0,0.0);
	                top: 0;
	                left: 0px;
	                bottom: 100%;
	                right: 0;
	                position: absolute;
	                display: block;
	                z-index: 20;
	                height: 100%;
	                opacity:0;
	                visibility:hidden;
	                transition: 0.2s;

		}
		.menuTrigger:checked ~ & {
			//left: 200px;
            z-index:1;

            &:before {
					
                	content: "";
	                background: rgba(0,0,0,0.6);
	                top: 0;
	                left: 0px;
	                bottom: 100%;
	                right: 0;
	                position: absolute;
	                display: block;
	                z-index: 20;
	                height: 100%;
	                opacity:1;
					visibility:visible;

            }
		}


		.slide.slide-1 {  
			min-height:calc(100vh - 100px); 
			.center-height {
					top:20vh;

				h1 {


						font-size:2rem;
						line-height:3rem;

					img.logo {
							width:40%;
							max-width:90px;
							min-width:90px;
							float:none;
							display:block;
							padding-bottom:0;
					}
				}
			}

			.counter {
				.container {

				}
				#clockdiv{
	            font-size:1.1rem;
	            margin:20px 0px;
	            line-height:2rem;
	            & > div{
					

					& > span {
						padding: 5px;
						font-weight:normal;
	           			

					}
            	}

            	.smalltext{
	            	padding: 0px 10px;
	            	font-size: 0.8rem;
	            	line-height:1.5rem;
            	}
            }
			}
			
		}

		 .slide.slide-3 {
       		padding:100px 0px;
			.container {
				background:rgba(255,255,255,0.8);
				padding:20px;
				margin:20px;
				z-index:9
			}
    }
	
	}

}